Отчет/.$БД.drawio.bkp
Отчет/CourseW_БуйловИД_Пинз122.doc
Отчет/CourseWPP.pptx
Отчет/БД.drawio
Отчет/БД.png
Отчет/Задания_КР - Буйлов - Отдел кадров.pdf
Отчет/Методические указания к курсовому проектированию.docx
Отчет/сайт.drawio
Отчет/сайт.png
Отчет/сайт.svg
uploads/Игорь_resume_67d1cc8fd9a538.51761001.pdf
uploads/Игорь_Буйлов_resume_67d07b9c3f3ab6.82414653.pdf
uploads/Игорь_Буйлов_resume_67d078f5dd3554.68241063.pdf
uploads/Игорь_Буйлов_resume_67d0791bbb9373.31399397.pdf
src/мивлгу.jpg
src/ниитм.png
dbjob/db.opt
dbjob/employers.frm
dbjob/employers.ibd
dbjob/users.frm
dbjob/users.ibd
dbjob/vacancys.frm
dbjob/vacancys.ibd
